select {
  width: 100%;
  max-width: 250px;
  margin: 0 auto 25px;
  display: block;
  padding: 10px 14px;
  border-radius: 12px;
  border: none;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  outline: none;
  backdrop-filter: blur(10px);
}

select option {
  color: black;
}
